.Presentation-img {
  width: auto;
  height: 101vh;
}

.Presentation-scene-parts-div {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
}

@keyframes glow {
  from {
    opacity: 0.2;
  }

  75% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.Presentation-polygon {
  cursor: pointer;
  fill: white;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Presentation-polygon-glow {
  animation-duration: 2s;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.Presentation-polygon:hover {
  animation: 0;
  -webkit-animation: 0;
  opacity: 0.2;
}
