.Infobox {
  margin-right: 30px;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  top: 50px;
  width: 200px;
  height: 120px;
  text-align: left;
  color: #cccccc;
  background-color: transparent;
  border: 1px solid #cccccc;
}