.LocaleSelector {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #cccccc;
}

.LocaleSelector-span {
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.LocaleSelector-span:hover {
  color: white;
}